
#wrapper {
  /* border: 5px solid red; */
  max-width: 68rem;
  margin: 0 auto;
}
#wrapper > * {
  /* 직계자손 전체에 대해 */
  /* border: 5px solid green */
}
#wrapper > * > * {
  /* 직계자손 전체에 대해 */
  /* border: 5px solid blue */
}
/*  background image */
body {
  background-image: url(../../images/bg.jpg);
  background-size: cover;
  /* auto-resizing image */
  font-family: "Source Sans Pro", sans-serif;
}
/*  background image */


#header {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#header .avatar {
  /* id=header > class=avatar (span tag) */
  /* inline tag는 부피감이 없음. */
  border-radius: 100%;
  /* display: block; */
  /* block방식은 화면 전체를 쓴다는 특징이 있음. */
  display: inline-block;
  padding: 0.5rem;
  /* 1rem = 16px */
  border: 1px solid rgba(255, 255, 255, 0.25);
  /* 테두리 */
  background-color: rgba(255, 255, 255, 0.05);
  margin-bottom: 1.5rem;
}

#header .avatar img {
  /* id=header > class=avatar > img tag */
  border-radius: 100%;
}
#header h1 {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 200;
  /* 두께 */
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 1.5rem;
  line-height: 2.3rem; /*행간*/
}
#header h1 strong {
  color: white;
  font-weight: 200;
}
#header h1 a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  /* 테두리를 안보이게하는 것? */
  border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
  /* 점선을 생성 */
}

#header ul.icons li {
  /* li 는 기본적으로 block level element이기 때문 */
  display: inline-block;
  /* 한줄로 표현 */
  color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.05);
  width:2rem;
  height:2rem;
  display: inline-flex;/* 정렬상태를 조종하는 것 */
  justify-content: center; /* x축*/
  align-items: center; /* y축*/
  margin-right: 1rem;
  padding-right: 0!;


}
#header ul.icons li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;

}
#header ul.icons li a:hover {
  color: rgba(255, 255, 255, 0.9);
}
#header ul.icons li .label{
  display: none;
  /* 설명을 안보이게 */
}

#main .thumbnails {
  display: flex;
}
#main .thumbnails a {
  margin-bottom: 1.5rem;
  display: block;
}
#main .thumbnails > div {
  flex-grow: 1;
  /* 화면의 크기에 따라 커진듯 안커진듯 */
  margin-right: 1rem;
  margin-left: 1rem;
  /* border: 1px solid blue; */
}
#main .thumbnails img {
  width: 100%;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  display: block;
  /* image 는 inline방식이기 때문에, 조금은 유격이생김? */
}
#main .thumbnails h3 {
border-left: 1px solid rgba(255, 255,255, 0.3);
border-right: 1px solid rgba(255, 255,255, 0.3);
border-bottom: 1px solid rgba(255, 255,255, 0.3);
border-bottom-left-radius: 0.2rem; /* 외곽면을 둥굴게 */
border-bottom-right-radius: 0.2rem;/* 외곽면을 둥굴게 */
padding: 0.5rem;
text-align: center;
background-color: rgba(255, 255, 255, 0.1);
color: white;
font-size: 0.8rem;
font-weight: 200; /* 얇게 */
}

#footer {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 200;
  font-size: 0.8rem;
  /* 두께 */
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 1.5rem;

}
#footer a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.25);
}

#footer::before {
  content: '';
  display: block;
  margin: 2rem auto; /*위아래, 좌우. auto할때는 가운데로 오게됨*/
  width: 10rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

@media(max-width:500px) {
  #main .thumbnails {
    display: block;
  }
}
